// ----------- -------COLOR

$c-danger: red;

$color-primary: rgba(125, 233, 63, 0.89);
$color-text-primary: rgb(100, 100, 100);
$color-title-primary: rgb(63, 62, 62);
$color-black: #000;
$color-white: #fff;
$color-text: rgba(0, 0, 0, 0.8);

$color-border-primary: rgba(0, 0, 0, 0.199);
